body
{
    font-family: cursive;
}
h3{

    margin-left: 45%;
    margin-top: 5%;
}

fieldset
{
    margin-left: 25%;
    margin-top: 5%;
    margin-right: 25%;
    padding-top: 40px;
    padding-bottom: 70px;
    
}

#input-event-title{

    width: 400px;
    
}

.event
{
    margin-left: 80px;
}

.save
{
    width: 100px;
    height: 40px;
    margin-left: 27%;
    margin-top: 4%;
    font-family: cursive;

}

.cancel
{
    width: 100px;
    height: 40px;
    font-family: cursive;
}